body{
    font-family: arial,sans-serif;
    margin-left: 0px;
}

#whole{
    text-align: center;
    margin-top: 5.65%;
    margin-bottom: 12.4%;   
}

/*top right*/
div>a{
    text-decoration: none;
    color: black;
}

.right{
    text-align: end;
    font-size: 13px;
    padding-right: 3%;
    padding-top: 1%;
}

#top-right:hover{
    text-decoration:underline;
}

/*logo*/
.container {
    color: rgb(66, 133, 244);
    margin-bottom: 1.55%;
}

.bottom-right {
    position: absolute;
    top: 25.7%;
    right: 41.5%;
}

/*search bar*/
#searchbar{
    width: 35.5%;
    height: 43px;
    border-radius: 30px;
    margin-bottom: 20px;
    border: 1px solid lightgray;
    background-color: transparent;
    padding-left: 40px;   
}

#searchbar:hover{
    box-shadow: 1px 1px 7px 0px gray; 
}

#searchbar:focus{
    outline: none;
}

/* bottom borders */
#india{
    padding-left: 20px;
    background-color: rgb(242, 242, 242);
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(218, 220, 224);
    font-size: 14px;
}

.india{
    height: 40px;
}

/* second bottom border with links */
#main_container{
    display: flex;  
    background-color: rgb(242, 242, 242);  
    height: 50px;   
}

#container1{
    display: flex;
    justify-content: flex-start;
    width: 50%;
}

#container2{
    display: flex;  
    justify-content: end; 
    width: 50%;
}

#footer {
    background-color: rgb(242, 242, 242);
    color: black;
    width: 100%;
    position: fixed;
    bottom: 0px;

}

p>a{
    text-decoration: none;
    color: black;
}

p>a:hover{
    text-decoration: underline;
}

.footitems{
    padding-left:30px ;
    font-size: 14px;
    font-size: 13px;
}

/* nested */
.footitems1{
    padding-left:30px ;
    font-size: 13px;
}

.lastitem{
    margin-right: 30px;
}
