body{
    font-family: arial,sans-serif;
    margin-left: 0px;
} 

#wholething{
    margin-top: 2%;
    text-align: center;   
}

body > div > a,#lucky{
    text-decoration: none;
    color: black;   
}

/*top right items*/
.images{
    text-align: end;
    font-size: 13px;
    padding-right: 3%;
    padding-top: 1%;
    padding-bottom: 20px;   
}

#imglink:hover{
    text-decoration:underline;
}

#advsearch{
    margin-right: 30px;
}

#advsearch:hover{
    text-decoration: underline;
}

/*search bar*/
#searchbutton,button{
    border:none;
    border-radius: 5px;
    width: 125px;
    height: 40px;
    margin: 20px;
    margin-top: 0px;  
    font-size: 13px; 
    margin-right: 4px;     
    background-color: rgb(248, 249, 250);           
}

#searchbutton:hover{
    box-shadow: 1px 1px 2px 1px gray;
}

button{
    margin-left: 4px;
    background-color: rgb(248, 249, 250);
}

button:hover{
    box-shadow: 1px 1px 2px 1px gray;
}

#searchbar{
    width: 575px;
    height: 45px;
    margin: 20px;
    border-radius: 30px;
    margin-bottom: 20px;
    border: 2px solid whitesmoke;
    background-color: transparent;
    padding-left: 20px;   
}

#searchbar:hover{
    box-shadow: 1px 1px 7px 0px gray; 
}

#searchbar:focus{
    outline: none;
}

#logo{
    margin-bottom: 0px;
}

.offeredin{
    font-size: 80%;
    margin-bottom: 5.9%;
}

.languages{
    font-size: 100%;
}

/* bottom borders */
#india{
    padding-left: 20px;
    background-color: rgb(242, 242, 242);
    padding-top: 5px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgb(218, 220, 224);
    font-size: 14px;
}

.india{
    height: 40px;
}

/* second bottom border with links */
#main_container{
    display: flex;  
    background-color: rgb(242, 242, 242);  
    height: 50px;   
}

#container1{
    display: flex;
    justify-content: flex-start;
    width: 50%;
}

#container2{
    display: flex;  
    justify-content: end; 
    width: 50%;
}

#footer {
    background-color: rgb(242, 242, 242);
    color: black;
    width: 100%;
    position: fixed;
    bottom: 0px;

}

p>a{
    text-decoration: none;
    color: black;
}

p>a:hover{
    text-decoration: underline;
}

.footitems{
    padding-left:30px ;
    font-size: 14px;
    font-size: 13px;
}

/* nested */
.footitems1{
    padding-left:30px ;
    font-size: 13px;
}

.lastitem{
    margin-right: 30px;
}

